/* .Navbar {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  color: white;
} */

/* .Hero {
  background-image: url("../../images/Hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 450px;
} */
.hero {
  height: 100vh;
  position: relative;
  max-height: 720px;
  overflow: hidden;
}
.heroText {
  color: white;
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  font-size: 25px;
  padding-bottom: 10px;
}
.heroText p {
  color: #fff;
  font-size: 24px;
  text-align: center;
}
