.button1 Button {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 60px;
  border: none;
  text-align: center;
  align-items: center;
}
.button1 Button:hover span {
  display: none;
}
.button1 Button:hover {
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
}
.arrow {
  display: none;
}
.button1 Button:hover .arrow {
  text-align: center;
  display: flex;
  width: 60px;
  padding-left: 18px;
}
