.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;

  width: 100%;
}
.cards1 h1,
.cards1 h2 {
  text-align: left;
  padding: 20px;
}
.ul {
  font-size: 25px;
  display: flex;
  list-style: none;
  margin-top: 0px;
}

.ul li {
  padding-right: 20px;
  color: #3399cc;
}
.cat {
  display: flex;
}
